#Qantas94Heavy-ap {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  padding: 0 10px 10px;
  box-shadow: 0px 0px 16px #888 inset;
}

#Qantas94Heavy-ap-nav > div {
  text-align: right;
}

#Qantas94Heavy-ap-nav h6 {
  margin: 10px 0;
  line-height: 26px;
}

#Qantas94Heavy-ap-nav button {
  margin: 10px 0;
  width: 150px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  padding: 0 5px;
  text-align: center;
  clear: both;
}

#Qantas94Heavy-ap label {
  float: right;
}

#Qantas94Heavy-ap-displays {
  width: 100%;
  margin: 0 10px 0 5px;
}

#Qantas94Heavy-ap-displays > div {
  overflow: hidden;
  margin: 3px 0;
}

#Qantas94Heavy-ap-displays input {
  font-size: 18px;
  padding: 0px;
  width: 70px;
  line-height: 18px;
  text-align: right;
  font-family: monospace;
  color: #f93;
  text-shadow: 0px 0px 8px #f93;
  background-color: #000;
  border: 2px inset;
}

#Qantas94Heavy-spd-container {
  padding-right: 15px;
}

#Qantas94Heavy-spd-container > div {
  width: 50%;
}

.Qantas94Heavy-pull-left {
  float: left;
}

.Qantas94Heavy-pull-right {
  float: right;
}

.Qantas94Heavy-switch-container {
  width: 20%;
  float: left;
}

.Qantas94Heavy-input-container {
  overflow: auto;
  width: 150px;
}
